.func-main-sec{
    display: flex;
    height: 100vh;
    width: 100%;
}

.func-anime-area{
    flex: 50%;
}

.func-text-area{
    flex: 50%;
}

@media only screen and (max-width: 768px){
    .func-main-sec{
        display: flex;
        flex-direction: column;
        height: 120vh !important;
        width: 100%;
    }
    
    .func-anime-area{
        flex: 50%;
    }
    
    .func-text-area{
        flex: 50%;
    }
    
}